@use "../abstracts/variables" as *;

// main body

.pager-main{
    background-color: $grey-clr;
    padding: 1em;
    display: flex;
    flex-direction: column;
 
    // title and paragrah

    .main-title{
        font-family: 'Frank Ruhl Libre', serif;
        font-weight: bold;
        font-size: 2.1em;
        color: #fff;
        margin-top: 2em;
    }

    .main-btn{
        display: none;
    }

    .main-text{
        padding-top: 1em;
        font-size: 1.4em;
        font-family: 'Fira Sans', sans-serif;
        color: #343a40;
        margin-bottom: 5em;
        
    }

// portrait cards

    .card{
        background-color: #f9f9f9;
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5em auto;
        position: relative;
        height: 23em;
        justify-content: end;
        text-align: center;
        box-shadow: 0px 5px 10px gray;
        width: 90%;
    
        .card-box{
            position: absolute;
            text-align: center;
            border-radius: .5em;
            width: 90%;
            height: 13em;
            overflow: hidden;
            top: -2em;
        }

        .child{
            background-color: $blue-clr;
        }

        .adult{
            background-color: $yellow-clr;
        }

        .old{
            background-color: $orange-clr;
        }
    
        .box-img{
            margin: 1em;
            width: 35%;
        }

        .old-img{
            margin-top: 2em;
            width: 70%;
        }
    
        .card-title{
            font-family: 'Fira Sans', sans-serif;
        }
    
        .card-text{
            margin: 1em;
            margin-bottom: 3em;
            font-family: 'Fira Sans', sans-serif;
            font-size: .9rem;
            font-weight: 600;
            opacity: .7;
        }
    }

    
}

// bigger screen

@media only screen and (min-width: 768px) {
    // main body
    .pager-main{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
// main title and paragraph
        .main-continer{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 10em;
            align-items: stretch;
         margin: 5em;
         margin-bottom: 25em;
         .main-title{
            flex-basis: 40%;
            font-size: 2em;
            margin-top: 0;
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           justify-content: space-between;
         
        }

        .main-btn{
            display: block;
            padding: 1em 2em;
            font-size: .5em;
            border-radius: 99999px;
            border: none;
            font-family: 'Fira Sans', sans-serif;
            font-weight: bold;
        }

        .main-text{
            flex-basis: 25%;
            font-size: 1.3rem;
            margin: 0;
            padding-top: 0;
          
        }
        }

// portrait cards
        .card-container{
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            bottom: -20em;
            gap: 3em;
            margin: 0 auto;

            .card{
                height: 32em;
                width: 20em;
                margin: 0;
                margin-bottom: 5em;

                .card-box{
                    height: 16em;

                }

                .box-img{
                    margin: 1em;
                    width: 53%;
                }
        
                .old-img{
                    margin-top: 2em;
                    width: 80%;
                }

                .card-text{
                    font-size: 1.1em;
                }
            }
        }

    }
}





